<!DOCsTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href='/bootstrap/css/bootstrap.min.css'>
    <link rel="stylesheet" href='/bootstrap/css/bootstrap-theme.min.css'>
    <link rel="stylesheet" href='/bootstrap/css/dashboard.css'>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Info Centre</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <input class="form-control" placeholder="Search..." type="text">
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active">
                    <a href="#">Overview
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li>
                    <a onclick="page.addLink()" href="#">Add Link</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Dashboard</h1>
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-striped" id="ContentContainer">
                        <thead>
                        <tr>
                            <th width="10"></th>
                            <th width="20">Title</th>
                            <th width="50">Content</th>
                            <th width="20"></th>
                        </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addLink" tabindex="-1" role="dialog" aria-labelledby="addLinkLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="addLinkLabel">Link</h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <input type="hidden" name="linkID" value="">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Url</label>
                            <div class="col-sm-10">
                                <input name="url" type="text" class="form-control" placeholder="Url to leech">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Title</label>
                            <div class="col-sm-10">
                                <input name="title" type="text" class="form-control" placeholder="Title">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Type</label>
                            <div class="col-sm-10">
                                <select name="fn[fnType]" class="form-control" placeholder="Type">
                                    <option value="0">Choose type</option>
                                    <option value="searchQuery">searchQuery</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group hide" data-interact="fn[fnType]" data-type="searchQuery">
                            <label class="col-md-2 control-label">Type Params</label>
                            <div class="col-md-2">
                                <button class="btn btn-success" type="button" onclick="formAddLink.fn.addBlock()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    Add parameter
                                </button>
                            </div>
                        </div>
                        <div class="form-group hide" data-interact="fn[fnType]" data-type="searchQuery">
                            <div class="col-md-10 col-md-offset-2" id="paramBlockList1">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Selector</label>
                            <div class="col-md-2">
                                <button class="btn btn-success" type="button" onclick="formAddLink.fn.addBlockSelector()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    Add selector
                                </button>
                            </div>
                        </div>
                        <div class="form-group ">
                            <div class="col-md-10 col-md-offset-2" id="paramBlockList2">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Notify</label>
                            <div class="col-sm-10">
                                <label class="radio-inline">
                                    <input type="radio" name="notify" value="1"> Yes
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="notify" value="0"> No
                                </label>
                            </div>
                        </div>
                        <div class="form-group hide" data-interact="notify">
                            <label class="col-sm-2 control-label">Condition</label>
                            <div class="col-md-2">
                                <button class="btn btn-success" type="button" onclick="formAddLink.fn.addBlockCondition()">
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    Add condition
                                </button>
                            </div>
                        </div>
                        <div class="form-group hide" data-interact="notify">
                            <div class="col-md-10 col-md-offset-2" id="paramBlockList3">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-md-12 text-left" id="errorHandling">
                        </div>
                    </div>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-success" onclick="formAddLink.saveLink()">Save link</button>
                </div>
            </div>
        </div>
    </div>
    <script src='/bootstrap/js/jquery.js'></script>
    <script src='/bootstrap/js/bootstrap.min.js'></script>
    <script src='/bower_components/underscore/underscore-min.js'></script>
    <script>
        var page = {
            allLinks  :function(){
                $.get('/leecher', {}, function(res){
                    var html = '';
                    for(var x = 0 ; x < res.message.length ; x++){
                        var item = res.message[x];
                        html += ' <tr>';

                        if(item.notify){
                            html += '    <td><span class="glyphicon glyphicon-volume-up" aria-hidden="true"></span></td>';
                        }else{
                            html += '    <td></td>';
                        }

                        html += '    <td>' + item.title + '<p><small>' + item.url + '</small></p></td>';

                        var subHtml = '';
                        for(var y = 0 ; y < item.content.length ; y++){
                            subHtml += '<p>' + item.content[y].label + ':' + item.content[y].value + '</p>';
                        }
                        html += '    <td>' + subHtml + '</td>';
                        html += '    <td>' +
                                '       <button class="btn btn-warning" onclick="page.editLink(\'' + item._id + '\')">Edit</button>' +
                                '       <button class="btn btn-danger" onclick="page.removeLink(\'' + item._id + '\')">Remove</button>' +
                                '    </td>';
                        html += ' </tr>';
                    }

                    $('#ContentContainer tbody').empty().append(html);
                });
            },
            addLink   :function(){
                $('#addLink').modal('show');
                formAddLink.resetForm();
            },
            editLink  :function(_id){
                $.get('/leecher/show', {
                    id:_id
                }, function(res){
                    $('#addLink').modal('show');
                    formAddLink.resetForm();
                    formAddLink.renderForm(res.message);
                });
            },
            removeLink:function(_id){
                if(confirm("Remove it?")){
                    $.post('/leecher/remove', {
                        id:_id
                    }, function(res){
                        if(res.result)
                            page.allLinks();
                    });
                }
            }
        };
        function notify(type, message){
            if(type){
                $('#errorHandling').html('<div class="alert alert-success" role="alert"> <a href="#" class="alert-link">' + message + '</a> </div>');
            }else{
                $('#errorHandling').html('<div class="alert alert-danger" role="alert"> <a href="#" class="alert-link">' + message + '</a> </div>');
            }
        }
        var formAddLink = {
            resetForm :function(){
                $('input[name="linkID"]').val('');
                //fill the data in
                $('input[name="url"]').val('');
                $('input[name="title"]').val('');

                $('select[name="fn[fnType]"]').val('');
                $("select[name='fn[fnType]']").trigger('change');

                $('#paramBlockList1').empty();
                $('#paramBlockList2').empty();

                $('#errorHandling').empty();

                var radios = $('input:radio[name=notify]');
                radios.filter('[value=0]').prop('checked', true);

            },
            renderForm:function(old){

                $('input[name="linkID"]').val(old._id);

                //fill the data in
                $('input[name="url"]').val(old.url);
                $('input[name="title"]').val(old.title);

                $('select[name="fn[fnType]"]').val(old.fn.fnType);
                $("select[name='fn[fnType]']").trigger('change');

                _.each(old.fn.fnParams, function(param){
                    formAddLink.fn.addBlock(param.name, param.value);
                });

                _.each(old.selectors, function(selec){
                    formAddLink.fn.addBlockSelector(selec.label, selec.value);
                });

                var radios = $('input:radio[name=notify]');
                radios.filter('[value=' + old.notify + ']').prop('checked', true);

            },
            saveLink  :function(){
                var data = $('#addLink form').serializeArray();

                $.post('/leecher/saveLink', data, function(res){
                    if(res.result){
                        notify(res.result, 'OK');
                        page.allLinks();
                    }else{
                        notify(res.result, res.message);
                    }

                });
            },
            fn        :{
                currentIndex     :0,
                addBlock         :function(name, value){
                    this.currentIndex++;

                    name  = !_.isUndefined(name) ? name : '';
                    value = !_.isUndefined(value) ? value : '';

                    var html = '';

                    html += ' <div class="form-group">';
                    html += '     <div class="col-sm-4">';
                    html += '         <input value="' + name + '" name="fn[fnParams][' + this.currentIndex + '][name]" type="text" class="form-control" placeholder="Name">';
                    html += '     </div>';
                    html += '     <div class="col-sm-6">';
                    html += '         <input  value="' + value + '" name="fn[fnParams][' + this.currentIndex + '][value]" type="text" class="form-control" placeholder="Value">';
                    html += '     </div>';
                    html += '     <div class="col-sm-2 text-right">';
                    html += '         <button class="btn btn-danger" type="button" onclick="formAddLink.fn.removeBlock(this,\'.form-group\')">';
                    html += '             <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>';
                    html += '         </button>';
                    html += '     </div>';
                    html += ' </div>';
                    $('#paramBlockList1').append(html);

                },
                addBlockSelector :function(label, value){
                    this.currentIndex++;

                    label = !_.isUndefined(label) ? label : '';
                    value = !_.isUndefined(value) ? value : '';

                    var html = '';
                    html += '<div class="form-group">';
                    html += '   <div class="col-sm-4">';
                    html += '       <input value="' + label + '"  name="selectors[' + this.currentIndex + '][label]" type="text" class="form-control" placeholder="Label">';
                    html += '   </div>';
                    html += '   <div class="col-sm-6">';
                    html += '       <input value="' + value + '"  name="selectors[' + this.currentIndex + '][value]" type="text" class="form-control" placeholder="Value">';
                    html += '   </div>';
                    html += '   <div class="col-sm-2 text-right">';
                    html += '      <button class="btn btn-danger" type="button" onclick="formAddLink.fn.removeBlock(this,\'.form-group\')">';
                    html += '          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>';
                    html += '      </button>';
                    html += '   </div>';
                    html += ' </div>';
                    $('#paramBlockList2').append(html);
                },
                addBlockCondition:function(label, value){
                    this.currentIndex++;

                    label = !_.isUndefined(label) ? label : '';
                    value = !_.isUndefined(value) ? value : '';

                    var html = '';
                    html += '<div class="form-group">';
                    html += '   <div class="col-sm-4">';
                    html += '       <input value="' + label + '"  name="selectors[' + this.currentIndex + '][label]" type="text" class="form-control" placeholder="Label">';
                    html += '   </div>';
                    html += '   <div class="col-sm-6">';
                    html += '       <input value="' + value + '"  name="selectors[' + this.currentIndex + '][value]" type="text" class="form-control" placeholder="Value">';
                    html += '   </div>';
                    html += '   <div class="col-sm-2 text-right">';
                    html += '      <button class="btn btn-danger" type="button" onclick="formAddLink.fn.removeBlock(this,\'.form-group\')">';
                    html += '          <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>';
                    html += '      </button>';
                    html += '   </div>';
                    html += ' </div>';
                    $('#paramBlockList3').append(html);
                },
                removeBlock      :function(ele, cloestBlock){
                    $(ele).closest(cloestBlock).remove();
                }
            }
        };

        function changeType(){
            $("select[name='fn[fnType]']").on('change', function(e){
                function showOptions(type){

                    var showType = $('.form-group').filter(function(){
                        return $(this).data('interact') == 'fn[fnType]' && $(this).data('type') == type
                    });

                    showType.removeClass('hide');
                }

                $('.form-group[data-interact]').addClass('hide');

                var type = $(this).val();
                switch(type){
                    case 'searchQuery':
                        showOptions('searchQuery');
                        //bind more here
                        break;
                }
            });
            $("select[name='fn[fnType]']").trigger('change');
        }
        function changeNotify(){
            $('input[name=notify]').on('change', function(){
                if(this.value == 1){
                    $('.form-group[data-interact=notify]').removeClass('hide');
                }else{
                    $('.form-group[data-interact=notify]').addClass('hide');
                }
            });
        }
        $(document).ready(function(){
            changeType();
            changeNotify();
            page.allLinks();
        });
    </script>
</body>
</html>
