body {
    padding : 50px;
    font    : 14px "Lucida Grande", Helvetica, Arial, sans-serif
}
a {
    color : #00B7FF
}
.small-font {
    font-size : 11px
}
.margin-hr-10 {
    margin : 5px 0px;
}
.item {
    -webkit-box-sizing : border-box;
    -moz-box-sizing    : border-box;
    box-sizing         : border-box;
    padding            : 5px;
}
.item a {
    color : #000000
}
.success-bold {
    font-weight : bold;
    background  : #FF799E;
    color       : #FFFFFF;
}
.success-bold a {
    color : #FFFFFF
}